@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

* {
    background-color: #3378C6;
}

body {
    font-family: "Mitr", sans-serif;
    color: white;
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    padding-left: 200px;
}

.logo > a > img {
    width: 40px;
    border: 3px solid white;
}

.menu-bar {
    font-size: 20px;
    padding-right: 200px;
}

.menu-bar > span {
    margin: 10px;
}


.menu-bar > span > a {
    color: white;
    text-decoration: none;
}

.menu-bar > span > a:hover {
    opacity: 0.5;
}