* {
    font-family: 'Noto Sans', sans-serif;
    padding: 20px;
    margin: 20px;
}

.rec1 {
    background-color: palevioletred;
    border-radius: 25px;
    width: 110px;
    text-align: right;
    animation: rec1moveToRight 1s forwards paused;
}

.rec2 {
    background-color: aquamarine;
    border-radius: 25px;
    width: 110px;
    text-align: right;
    animation: rec2moveToRight 1s forwards paused;
}

.rec3 {
    background-color: blanchedalmond;
    border-radius: 25px;
    width: 110px;
    text-align: right;
    animation: rec3moveToRight 1s forwards paused;
}

.rec4 {
    background-color: blueviolet;
    border-radius: 25px;
    width: 110px;
    text-align: right;
    animation: rec4moveToRight 1s forwards paused;
}

.rec5 {
    background-color: aqua;
    border-radius: 25px;
    width: 110px;
    text-align: right;
    animation: rec5moveToRight 1s forwards paused;
}

@keyframes rec1moveToRight {
    from {
        width: 110px;
    } to {
        width: 200px;
    }
}

@keyframes rec2moveToRight {
    from {
        width: 110px;
    } to {
        width: 500px;
    }
}

@keyframes rec3moveToRight {
    from {
        width: 110px;
    } to {
        width: 300px;
    }
}

@keyframes rec4moveToRight {
    from {
        width: 110px;
    } to {
        width: 400px;
    }
}

@keyframes rec5moveToRight {
    from {
        width: 110px;
    } to {
        width: 350px;
    }
}

.btn-primary {
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
}
